<div class="container">
    <div class="row">
        <div class="col text-center mt-2">
            <h1>{{header}}</h1>
            <hr>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <nav>
                <a class="button" routerLink="/basic-map" routerLinkActive="activebutton">Basic Map</a>
                <a class="button" routerLink="/web-map" routerLinkActive="activebutton">Web Map</a>
                <a class="button" routerLink="/scene-view" routerLinkActive="activebutton">Scene View</a>
                <a class="button" routerLink="/toggle-basemap-layer" routerLinkActive="activebutton">Toggle Basemap Layer</a>
                <a class="button" routerLink="/basemap-gallery" routerLinkActive="activebutton">Selectable Basemap Layer</a>
            </nav>
            <hr>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
